.Main.container {
    margin-top: 25px;
}

.Main.container .PlaygroundFilter form.card {
    padding: 15px;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-header {
    padding: 0;
    background: 0;
    border: 0;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-header button {
    text-align: left;
    width: 100%;
}

.Main.container .PlaygroundCard .card .card-body h4.card-title {
    margin-bottom: 3px;
}

.Main.container .PlaygroundCard .card .card-body p.card-text .badge span {
    margin: 0 3px;
}