.Main.container {
    margin-top: 25px;
}

.Main.container .PlaygroundFilter .card {
    padding: 15px;
}

.Main.container .PlaygroundCard .card .card-body h4.card-title {
    margin-bottom: 3px;
}

.Main.container .PlaygroundCard .card .card-body p.card-text .badge span {
    margin: 0 3px;
}