.Main.container {
    margin-top: 25px;
}

/* PlaygroundFilter */

.Main.container .PlaygroundFilter form.card {
    padding: 15px;
}

.Main.container .PlaygroundFilter form.card #accordion .card {
    margin-bottom: 5px;
}

.Main.container .PlaygroundFilter form.card #accordion .card:last-child {
    margin-bottom: 0;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-header {
    padding: 0;
    background: 0;
    border: 0;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-header button {
    text-decoration: none;
    text-align: left;
    font-weight: 500;
    color: #343a40;
    width: 100%;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-header button:hover {
    color: black;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-body {
    border-top: 1px solid rgba(0, 0, 0, .125);
    padding-top: 15px;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-body h6 span.badge-sub {
    display: inline-block;
    min-width: 21px;
}

.Main.container .PlaygroundFilter form.card #accordion .card .card-body h6 span.badge span.badge-param {
    margin: 0 3px 0 0;
}

/* PlaygroundCard */

.Main.container .PlaygroundCard .card .card-body h4.card-title {
    margin-bottom: 3px;
}

.Main.container .PlaygroundCard .card .card-body p.card-text .badge span {
    margin: 0 3px;
}