.Playground.container {
    margin-top: 25px;
}

.Playground.container .container.content-container {
    padding: 0;
}

.Playground.container .container.content-container .row.header-row,
.Playground.container .container.content-container .row.info-row {
    padding: 10px 0;
    border-radius: .25rem;
    background-color: #f8f9fa;
}

.Playground.container .container.content-container .row.header-row h1 {
    margin-bottom: 0;
}

.Playground.container .container.content-container .row.header-row h1,
.Playground.container .container.content-container .row.header-row h4 {
    font-weight: 300;
}

.Playground.container .container.content-container .row.info-row {
    margin-top: 15px;
}

.Playground.container .container.content-container .row.info-row h4,
.Playground.container .container.content-container .row.info-row h5 {
    font-weight: 300;
}

.Playground.container .container.content-container .row.info-row h5 {
    padding: .25rem .75rem;
}

.Playground.container .container.content-container .row.info-row ul li {
    padding: .5rem .75rem;
    background: inherit;
    font-weight: 300;
}