/target/
/files/
/logs/

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### Demo Data ###
database/demo.sql

### Properties ###
application-secure.properties

### Maven ###
/.mvn/
pom.xml
mvnw.cmd
mvnw