.Registration form {
    max-width: 630px;
    margin: 15px auto;
    padding: 15px 25px;
    border-radius: 0.25em;
    background-color: #f2f2f2;
}

.Registration form h1 {
    margin-top: 5%;
    margin-bottom: 2.5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.Registration form .alert {
    display: none;
    padding: 5px;
    text-align: center;
}

.Registration .form-row {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.Registration .form-row .col-sm-3 {
    padding-right: 2.5%;
    text-align: right;
}

.Registration .row {
    margin-top: 5%;
}

.Registration .row .btn-primary {
    background: #f0ad4e;
    border-color: #d99a4a;
}

.Registration .row .btn-link {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.Registration .login-link-box {
    margin-top: 10px;
    text-align: center;
}