.PlaygroundPageableContainer .LoadingSpinner {
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
}

.PlaygroundPageableContainer .PlaygroundContainer .PlaygroundCard span.badge {
    min-height: 19px;
}