footer.Footer {
    background-color: #24292e;
}

footer.Footer h6 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
}

footer.Footer a {
    color: #dddddd;
}

footer.Footer .fa {
    margin-right: 5px;
}

footer.Footer a:hover {
    text-decoration: none;
    color: #ffffff;
}