.ContentRow.content-row.row {
    margin: 15px 0;
    padding: 10px 0;
    border-radius: .25rem;
    background-color: #f8f9fa;
}

.ContentRow.content-row.row:first-child {
    margin-top: 0;
}

.ContentRow.content-row.row:last-child {
    margin-bottom: 0;
}

.ContentRow.content-row.row h1,
.ContentRow.content-row.row h2,
.ContentRow.content-row.row h3,
.ContentRow.content-row.row h4,
.ContentRow.content-row.row h5,
.ContentRow.content-row.row h6 {
    font-weight: 300;
}