header.Header {
    background-color: #24292e;
    min-height: 80px;
}

header.Header a {
    color: #dddddd;
}

header.Header .fa {
    margin-right: 5px;
}

header.Header a:hover {
    text-decoration: none;
    color: #ffffff;
}

header.Header h3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 2px;
}

header.Header h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

header.Header .AuthBlock {
    text-align: right;
    margin-bottom: 0;
}

header.Header .AuthBlock .auth {
    float: right;
    margin-top: 15px;
    margin-left: 15px;
}

header.Header .AuthBlock .auth a {
    display: block;
    text-align: left;
}