.PlaygroundInfo .ContentRow.header h1.header {
    margin-bottom: 0;
}

.PlaygroundInfo .ContentRow.feature h5.feature {
    padding: .25rem .75rem;
}

.PlaygroundInfo .ContentRow.feature ul li {
    padding: .5rem .75rem;
    background: inherit;
    font-weight: 300;
}